.container {
    padding: 40px;
}

.hidden {
    display: none;
}

.btn {
    border: none;
    background-color: blueviolet;
    border-radius: 25px;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 16px 16px 22px;
    padding: 16px 36px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(0, 100%, 75%);
}

.timer {
    display: flex;
    justify-content: center;
}

main {
    font-size: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-style: groove;
}

header {
    text-align: center;
}

#questionsPage {
    max-width: 600px;
    display: none;
}

#topScores {
    display: none;
}

